@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.controlInput {
    color: white;
    margin: 4px;
    padding: 2px 4px;
    background: transparent;
    border-radius: 5px;
    border: 1.5px solid #6e7fff;
    outline: none;
}

.controlInput:focus {
    border: 1.5px solid #5e37fa;
}

.controlBtn {
    padding: 2px 4px;
    margin: 4px;
    color: white;
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 5px;
}

.controlBtn:hover {
    background-color: var(--hover-bg-color);
}

.results {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results th {
    color: #ffffff;
    padding: 12px 15px;
    text-align: left;
    font-size: 16px;
}

.results td:hover {
    background-color: #121212;
}

.results td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

@media (max-width: 600px) {
    .results th, .results td {
        padding: 8px 10px;
    }
}
